/** -*- coding: utf-8 -*-
*
* Copyright (©) 2013 Marcelo Jorge Vieira <metal@alucinados.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU Affero General Public License as
*  published by the Free Software Foundation, either version 3 of the
*  License, or (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU Affero General Public License for more details.
*
*  You should have received a copy of the GNU Affero General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

#submenu {
  margin: 10px 0 0;
  background-color: #F9F9F9 ;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#submenu .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

footer .icon-chevron-right {
    display: none;
}

#placeholder {
    height: 560px;
}

.dropdown-menu img {
    padding-right: 10px;
}

.dropdown-menu .sub-institution {
    margin-left: 15px;
}

.dropdown-menu li span {
    margin-left: 10px;
}

.dropdown-menu li span:after {
    content: "✔"
}

.dropdown-menu span.disabled:after {
    content: "✗"
}

.dropdown-menu button {
    margin-right: 10px;
}

th.sorted:after {
    content: "↑";
    float: right;
}

th.sorted-asc:after {
    content: "↓";
    float: right;
}

th.sortable {
    cursor: pointer;
}

/* Large desktop */
@media (min-width: 980px) {
    body {
        padding-top: 50px;
    }

    #submenu {
        width: 190px;
    }
}

/* Tablet */
@media (max-width: 767px) {
    #submenu.affix {
        position: static;
        width: auto;
        top: 0;
    }
}

/* Desktop large */
@media (min-width: 1200px) {
    #submenu {
        width: 240px;
    }
}

/* Tablet to desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #submenu.affix {
        top: 0;
        width: 140px;
    }
}
