
/** -*- coding: utf-8 -*-
*
* Copyright (©) 2013 Marcelo Jorge Vieira <metal@alucinados.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU Affero General Public License as
*  published by the Free Software Foundation, either version 3 of the
*  License, or (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU Affero General Public License for more details.
*
*  You should have received a copy of the GNU Affero General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

#submenu {
  margin: 10px 0 0;
  background-color: #F9F9F9 ;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#submenu .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.olhoneles_jumbotron {
    background-color: #eee;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 30px;
    margin: 10px 0;
}

.olhoneles_jumbotron .destaque {
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.olhoneles_jumbotron a:hover img {
   -webkit-transform: scale(1.1, 1.1);
    -moz-transform:scale(1.1, 1.1);
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

footer .icon-chevron-right {
    display: none;
}

#placeholder {
    height: 560px;
}

th.sorted:after {
    content: "↑";
    float: right;
}

th.sorted-asc:after {
    content: "↓";
    float: right;
}

th.sortable {
    cursor: pointer;
}

.brand img {
    margin-top: -4px;
}

.brand span {
    font-size: 18px;
}

.institution-selector {
    margin-top: 40px;
}

.main-title {
    font-size: 80px;
    margin-bottom: 40px;
}

.main-title a {
    color: black;
}

footer {
    margin-top: 40px;
}

.dataTables_length select {
    width: auto;
}

.dataTables_paginate.pagination {
    margin: auto;
}

.dataTables_processing {
    position: fixed;
    top: 15%;
    left: 45%;
    font-size: 20px;
    background-color: white;
    opacity: 0.8;
    padding: 40px;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.data-tables-column {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-tables-column:hover {
    height: auto;
    overflow: visible;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('/static/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/static/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/static/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('/static/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/static/sort_desc_disabled.png') no-repeat center right; }

/* Large desktop */
@media (min-width: 980px) {
    body {
        padding-top: 50px;
    }

    #submenu {
        width: 190px;
    }
}

/* Tablet / Phone */
@media (max-width: 767px) {
    #submenu.affix {
        position: static;
        width: auto;
        top: 0;
    }

  [class*="span3"]{
      margin-bottom: 20px;
  }
}

/* Desktop large */
@media (min-width: 1200px) {
    #submenu {
        width: 240px;
    }
}

/* Tablet to desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #submenu.affix {
        top: 0;
        width: 140px;
    }
}
