{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}
{% load bootstrap_toolkit %}

{% block title %}Todos os gastos{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Todos os gastos</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tipo de gasto</th>
                        <th>Parlamentar</th>
                        <th>Empresa/Pessoa</th>
                        <th>CNPJ/CPF</th>
                        <th>Número do Documento</th>
                        <th>Data</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d.nature.name }}</td>
                        <td>{{ d.mandate.legislator.name }} ({{ d.mandate.legislator.party }})</td>
                        <td>{{ d.supplier.name }}</td>
                        <td>{{ d.supplier.identifier }}</td>
                        <td>{{ d.number }}</td>
                        <td>{{ d.date|date:"d/m/Y" }}</td>
                        <td>{{ d.expensed|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row span12">
      {% bootstrap_pagination data always_show_first=True always_show_last=True show_prev_and_next=True align="center" %}
    </div>
</div>

{% endblock %}


{% block footer-extra %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-all').addClass('active').siblings().removeClass('active');
});
</script>

{% endblock %}
