{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}
{% load bootstrap_toolkit %}

{% block title %}Todos os gastos{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Todos os gastos</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th {% sortable_th "nature__name" %}>Tipo de gasto</th>
                        <th {% sortable_th "mandate__legislator__name" %}>Parlamentar</th>
                        <th {% sortable_th "supplier__name" %}>Empresa/Pessoa </th>
                        <th {% sortable_th "supplier__identifier" %}>CNPJ/CPF</th>
                        <th {% sortable_th "number" %}>Número do Documento</th>
                        <th {% sortable_th "date" True %}>Data</th>
                        <th {% sortable_th "expensed" %}>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d.nature.name }}</td>
                        <td>{{ d.mandate.legislator.name }} ({{ d.mandate.legislator.party }})</td>
                        <td>{{ d.supplier.name }}</td>
                        <td>{{ d.supplier.identifier }}</td>
                        <td>{{ d.number }}</td>
                        <td>{{ d.date|date:"d/m/Y" }}</td>
                        <td>{{ d.expensed|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row span12">
      {% bootstrap_pagination data always_show_first=True always_show_last=True show_prev_and_next=True align="center" url='?'|add:request.GET.urlencode %}
    </div>
</div>

{% endblock %}


{% block footer-extra %}

<script language="javascript" src="{% static 'js/sorting.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-all').addClass('active').siblings().removeClass('active');
});
</script>

{% endblock %}
