{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Olho neles! {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Gustavo Noronha Silva, Estêvão Samuel Procópio Amaral, Marcelo Jorge Vieira">
        <meta name="description" content="Como os deputados e vereadores mineiros gastam os recursos da verba indenizatória" />
        <meta name="keywords" content="deputados, vereadores, parlamentares, verba indenizatória, Assembleia Legislativa de Minas Gerais, Câmara Municipal de Belo Horizonte" />
        <meta name="robots" content="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <![endif]-->
        <noscript>Your browser does not support JavaScript!</noscript>
        {% block head-extra %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-deserialize/jquery.deserialize.js' %}"></script>
        <script>
            $('.dropdown-menu li').click(function(e) {
                var target = $(e.currentTarget);
                var institution_siglum = target.attr('id');

                var span = target.find('span');
                var span_class = span.attr('class');
                if (span_class == undefined)
                    span.attr('class', 'disabled');
                else
                    span.removeAttr('class');

                if (institution_siglum != undefined) {
                    var sub_spans = $('li.' + institution_siglum).find('span');
                    if (span_class == undefined)
                        sub_spans.attr('class', 'disabled');
                    else
                        sub_spans.removeAttr('class');
                }
                e.stopPropagation();
            });

            $('#houses-dropdown-apply').click(function(e) {
                var uri_parts = document.location.pathname.split('/');
                var new_uri = '/';
                for (var i = 0; i < uri_parts.length; i++) {
                    if (uri_parts[i] != "" && uri_parts[i].substr(0, 3) != "no:")
                        new_uri = new_uri + uri_parts[i] + '/';
                }
                var to_disable = $('.dropdown-menu span.disabled');
                var to_disable_ids = [];
                for (var i = 0; i < to_disable.length; i++) {
                    var parts = to_disable[i].id.split('-');
                    if (parts.length == 3 && to_disable_ids.indexOf(parts[1]) != -1)
                        continue;
                    to_disable_ids.push(to_disable[i].id.substr(3));
                }
                if (to_disable_ids.length)
                    new_uri = new_uri + 'no:' + to_disable_ids.join(',') + '/';
                document.location = new_uri;
            });
        </script>
        {% block footer-extra %}{% endblock %}
    </body>
</html>
