{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Olho neles! {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Gustavo Noronha Silva, Estêvão Samuel Procópio Amaral, Marcelo Jorge Vieira">
        <meta name="description" content="Como os deputados e vereadores mineiros gastam os recursos da verba indenizatória" />
        <meta name="keywords" content="deputados, vereadores, parlamentares, verba indenizatória, Assembleia Legislativa de Minas Gerais, Câmara Municipal de Belo Horizonte" />
        <meta name="robots" content="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <![endif]-->
        <noscript>Your browser does not support JavaScript!</noscript>
        {% block head-extra %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% block footer-extra %}{% endblock %}
    </body>
</html>
