<!DOCTYPE html>
<html lang="pt-br">
    <head>
    {% include 'base_header.html' %}
    {% block head-extra %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <a class="main-title" href="/"><h1>Olho neles!</h1></a>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        {% block footer-extra %}{% endblock %}
    </body>
</html>

