{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}
{% load bootstrap_toolkit %}

{% block title %}{{ legislator.name }} ({{ legislator.party }}){% endblock %}

{% block content %}

    <div class="row">
        {% with legislator.name|add:" ("|add:legislator.party|add:")" as legislator_name %}
        <div class="span12">{% share legislator_name %}</div>
        {% endwith %}
    </div>

    {% if legislator.about %}
    <div class="row">
        <div class="span12">
            <p class="alert alert-info">{{ legislator.about }}</p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#all-expenses" data-toggle="tab"><i class="icon-list-alt"></i> Todos os gastos</a></li>
                <li><a href="#top-suppliers" data-toggle="tab"><i class="icon-list-alt"></i> Maiores fornecedores</a></li>
            </ul>
            <div class="tab-content" id="tab-detail-supplier">
                <div id="all-expenses" class="tab-pane active">
                    {% expenses_table "Tipo de gasto" "Empresa/Pessoa" "CNPJ/CPF" "Número do Documento" "Data" "Valor" %}
                </div>
                <div id="top-suppliers" class="tab-pane">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Fornecedor</th>
                                <th>CNPJ / CPF</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in top_suppliers %}
                            <tr>
                                <td>
                                    <a href="{% if filter_spec %}/{{ filter_spec }}{% endif %}{% url 'montanha:show-supplier-detail' d.supplier__id %}">
                                    {{ d.supplier__name }}
                                    </a>
                                </td>
                                <td>{{ d.supplier__identifier|supplier_with_mask }}</td>
                                <td>{{ d.expensed|format_currency }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer-extra %}

{% expenses_data_table 'legislator_all' 'tttttm' legislator.id %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-per-legislator').addClass('active').siblings().removeClass('active');

});
</script>

{% endblock %}
