{% load url from future %}

<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>Links</h3>
                <ul class="content-menu">
                    <li id="menu-what-is-expenses"><a href="{% url 'montanha:what-is-expenses' %}">O que é verba indenizatória?</a></li>
                    <li id="menu-contact-us"><a href="{% url 'montanha:contact-us' %}">Fale Conosco</a></li>
                </ul>
            </div>
            <div class="span5">
                {% include 'sourcecode.html' %}
            </div>
            <div class="span4">
                {% include 'creativecommons.html' %}
            </div>
        </div>
    </div>
</footer>
