{% load url from future %}

<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>Links</h3>
                <ul class="content-menu">
                    {% include 'menu_items.html' %}
                </ul>
            </div>
            <div class="span5">
                <h3>Código Fonte</h3>
                <p>O código deste site é <a href="http://www.gnu.org/philosophy/philosophy.pt-br.html">livre</a>, licenciado sob a <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>.
                Você pode pegar o código executando o seguinte comando:</p>
                <pre>$ git clone git://gitorious.org/montanha/montanha.git</pre>
                <p>Você também pode <a href="https://gitorious.org/montanha/montanha">navegar</a> no nosso repositório.</p>
            </div>
            <div class="span4">
                <h3>Conteúdo</h3>
                <p>Todo o conteúdo do site está disponível sob a licença
                <a href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">Creative Commons Attribution 3.0</a>
                <a href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">
                <img src="http://i.creativecommons.org/l/by/3.0/80x15.png" width="80" height="15" alt="Creative Commons BY 3.0"></a></p>
            </div>
        </div>
    </div>
</footer>
