{% load url from future %}

<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>Content</h3>
                <ul class="content-menu">
                    <li><a href="{% url 'montanha:per-nature' %}">Totais por tipo de gasto</a></li>
                    <li><a href="#">Totais por parlamentar</a></li>
                    <li><a href="#">Totais por partido</a></li>
                    <li><a href="#">Totais por fornecedor</a></li>
                    <li><a href="#">Todos os gastos</a></li>
                </ul>
            </div>
            <div class="span5">
                <h3>Source code</h3>
                <p>This website is <a
                href="http://www.gnu.org/philosophy/philosophy.html">free (as in
                freedom)</a> and you can get its source code by issuing the
                following command in your computer:</p>
                <pre>$ git clone git://gitorious.org/montanha/montanha.git</pre>
                <p>Or you can <a href="https://gitorious.org/montanha/montanha">browse</a> our repo online</p>
            </div>
            <div class="span4">
                <h3>Content license</h3>
                <p>All images published here are available are available under
                the <a href="http://creativecommons.org/licenses/by/3.0/">
                Creative Commons Attribution 3.0 license.</a><a
                href="http://creativecommons.org/licenses/by/3.0/"><img
                src="http://i.creativecommons.org/l/by/3.0/80x15.png" width="80"
                height="15" alt="Creative Commons BY 3.0"></a> Please read more
                about licensing in the <a href="#">Terms of Use</a>
                document.</p>
            </div>
        </div>
    </div>
</footer>

