<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'montanha:index' %}">Olho Neles!</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{% url 'montanha:per-nature' %}">Totais por tipo de gasto</a></li>
                    <li><a href="{% url 'montanha:per-legislator' %}">Totais por parlamentar</a></li>
                    <li><a href="{% url 'montanha:per-party' %}">Totais por partido</a></li>
                    <li><a href="#">Totais por fornecedor</a></li>
                    <li><a href="#">Todos os gastos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
