{% load thumbnail %}

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'montanha:index' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Olho Neles!</a>
            {% if institution %}
            <a class="brand" href="/{{ institution.siglum }}">
                <img src="{{ institution.logo|thumbnail_url:'mini' }}"/>
                <span class="institution">{{ institution.siglum }}</span>
            </a>
            {% endif %}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li id="menu-per-nature">
                        <a href="{% if filter_spec %}/{{ filter_spec }}{% endif %}{% url 'montanha:per-nature' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Tipo de gasto</a>
                    </li>
                    <li id="menu-per-legislator">
                        <a href="{% if filter_spec %}/{{ filter_spec }}{% endif %}{% url 'montanha:per-legislator' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Parlamentar</a>
                    </li>
                    <li id="menu-per-party">
                        <a href="{% if filter_spec %}/{{ filter_spec }}{% endif %}{% url 'montanha:per-party' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Partido</a>
                    </li>
                    <li id="menu-per-supplier">
                        <a href="{% if filter_spec %}/{{ filter_spec }}{% endif %}{% url 'montanha:per-supplier' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Fornecedor</a>
                    </li>
                    <li id="menu-all">
                        <a href="{% if filter_spec %}/{{ filter_spec }}{% endif %}{% url 'montanha:show-all' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Todos</a>
                    </li>
                </ul>
                {% if current_date_from %}
                <form class="navbar-form pull-right">
                    <p class="navbar-text">Dados de <span id="current-date-from">{{ current_date_from }}</span> a <span id="current-date-to">{{ current_date_to }}</span></p>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
