{% load url from future %}
{% load thumbnail %}

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'montanha:index' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Olho Neles!</a>
            {% if institution %}
            <a class="brand" href="/{{ institution.siglum }}">
                <img src="{{ institution.logo|thumbnail_url:'mini' }}"/>
                <span class="institution">{{ institution.siglum }}</span>
            </a>
            {% endif %}
            <form class="navbar-form">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li id="menu-what-is-expenses"><a href="{% url 'montanha:what-is-expenses' %}">O que é verba indenizatória?</a></li>
                        <li id="menu-contact-us"><a href="{% url 'montanha:contact-us' %}">Fale Conosco</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
