{% extends "base.html" %}

{% block content %}

<h1>Olho neles!</h1>

<p>Você sabia que os parlamentares que você, que nós, elegemos gastam
dinheiro público teoricamente no uso do "poder". Apresentam nota e pedem
ressarcimento às casas legisladoras? Autopromoção ganha disparado:
quesito "divulgação de atividade parlamentar". Onze milhões gastos em
dois anos e meio!</p>

<p>O Montanha reúne essas informações procê. Imagina um desses seguranças,
grandes, musculosos, dois por dois... "olhando" o que fazem nossos
parlamentares, esse é o Montanha.</p>

<p>Hoje no Montanha você encontra os dados da Assembléia Legislativa de
Minas Gerais. Um dia teremos dados do Brasil todo."</p>

<p>Como o vereador que você elegeu ou pensa em eleger gastou o dinheiro
público (dele? nosso?) a vida política toda? Hum, e aí, você aprova?
Elege de novo?</p>

<p>É isso que sonhamos para o Montanha. Termos os dadaos de cada um dos
parlamentares.</p>

{% endblock %}
