{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row main-content">
        <div class="span4">
            <p>Selecione uma das casas legislativas ao lado ou clique
               nos links do menu ou abaixo para ver dados de todas
               elas.</p>
        </div>
        <div class="text-center span4">
            <a href="/ALMG{% url 'montanha:per-nature' %}"><img src="/static/almg.png"/></a>
        </div>
        <div class="text-center span4">
            <a href="/CMBH{% url 'montanha:per-nature' %}"><img src="/static/cmbh.png"/></a>
        </div>
    </div>
</div>

{% endblock %}
