{% extends "content.html" %}

{% block content %}

<div class="row">
    <div class="span12">
        <p>O olho neles é uma coletânea de dados de gasto com
        <a href="{% url 'montanha:what-is-expenses' %}">verba indenizatória</a> de algumas
        das casas legislativas brasileiras. Ele permite ver de maneira mais simples em que
        os parlamentares estão gastando, quem está gastando mais, quem está recebendo e por
        aí vai. Escolha a casa legislativa que você gostaria de explorar e vamos lá!</p>
    </div>
</div>
<div class="row">
    <div class="span12 text-center">
        <div class="row institution-selector">
            <div class="offset3 span3">
                <a href="/ALMG{% url 'montanha:per-nature' %}"><img src="/static/almg.png"/></a>
            </div>
            <div class="span3">
                <a href="/CMBH{% url 'montanha:per-nature' %}"><img src="/static/cmbh.png"/></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

