{% extends "content.html" %}
{% load staticfiles %}
{% load montanhatags %}

{% block title %}{{ filter_spec|default:'' }} Legislatura{% endblock %}

{% block content %}

<div class="row olhoneles_jumbotron">
    <div class="row text-center">
        <div class="span12">
            <img src="{% static img %}"/>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="destaque">Você quer ver todos os dados ou de alguma legislatura específica?</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="span12">
            <a href="/{{ institution.siglum }}{% url 'montanha:per-nature' %}">
                <button class="btn btn-large">
                    Todos os dados disponíveis.
                </button>
            </a>
        </div>
    </div>
    {% for legislature in legislatures %}
    <div class="row text-center">
        <div class="span12">
            <a href="/{{ institution.siglum }}:{{ legislature.date_start.year }}{% url 'montanha:per-nature' %}">
                <button class="btn btn-large">
                    Legislatura de {{ legislature.date_start.year }}-{{ legislature.date_end.year }}
                </button>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block footer-extra %}

{% endblock %}
