{% load url from future %}

                    <li id="menu-per-nature"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-nature' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Totais por tipo de gasto</a></li>
                    <li id="menu-per-legislator"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-legislator' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Totais por parlamentar</a></li>
                    <li id="menu-per-party"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-party' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Totais por partido</a></li>
                    <li id="menu-per-supplier"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-supplier' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Totais por fornecedor</a></li>
                    <li id="menu-all"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:show-all' %}{% if extra_uri %}{{ extra_uri }}{% endif %}">Todos os gastos</a></li>
