{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}

{% block title %}Per party{% endblock %}

{% block content %}

<script>
function toggle_details()
{
    var details = $('.details');
    var toggle_link = $('#toggle-details-link')[0];
    if (details.css('display') == 'none') {
        details.show();
        toggle_link.innerHTML = '(Esconder)'
        return;
    }

    details.hide();
    toggle_link.innerHTML = '(Ver detalhes)'
}
</script>

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Per party</h1>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Partido</th>
                        <th>Média <a id="toggle-details-link" href="javascript:toggle_details()">(Ver detalhes)</a></th>
                        <th class="details" style="display: none;">Parlamentares</th>
                        <th class="details" style="display: none;">Valor ressarcido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d.siglum }}</td>
                        <td>{{ d.expensed_average|format_currency }}</td>
                        <td class="details" style="display: none;">{{ d.n_legislators }}</td>
                        <td class="details" style="display: none;">{{ d.expensed_sum|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span6">
            <div id="placeholder" class="demo-placeholder"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer-extra %}

<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){

	data = [
        {% for d in data %}{label: "{{ d.siglum }}", color: "{{ colors|itercycle:forloop.counter0 }}", data: {{ d.expensed_average }}},{% endfor %}
    ]

    function labelFormatter(label, series) {
        return "<div style='font-size:8pt; text-align:center; padding:2px; color:black;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
    }

    $.plot('#placeholder', data, {
        series: {
            pie: {
                show: true,
                radius: 1,
                threshold: 0.1,
                label: {
                    show: true,
                    radius: 1,
                    formatter: labelFormatter,
                    background: {
                        opacity: 0.8
                    }
                },
            }
        },
        legend: {
            show: false
        }
    });

});
</script>

{% endblock %}
