{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}

{% block title %}Per nature{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Per nature</h1>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <table id="datatable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Tipo de Gasto</th>
                        <th>Valor ressarcido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td style="background-color: {{ colors|itercycle:forloop.counter0 }}; opacity: 0.8;"></td>
                        <td>{{ d.nature__name }}</td>
                        <td>{{ d.expensed|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span6">
            <div id="placeholder"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer-extra %}

<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.stack.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.time.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accounting.min.js' %}"></script>
<script type="text/javascript">
function format_currency(val, axis) {
    return accounting.formatMoney(val, "R$", axis.tickDecimals, ".", ",");
}

$(document).ready(function(){
    $('#placeholder').css('height', ($('#datatable').height() + 35) + 'px');
    $('#placeholder').css('-webkit-transform', 'translateY(-10px)');

	data = [
        {% for d in years_data %}{ "color": "{{ colors|itercycle:forloop.counter0 }}", "data": {{ d }} },{% endfor %}
    ]

    graph = $.plot('#placeholder', data, {
        series: {
            stack: true,
            lines: {
                show: true,
                fill: 0.8,
            }
        },
        legend: {
            show: false,
        },
        xaxis: {
            mode: 'time',
            timeformat: "%Y",
            tickSize: [1, "year"]
        },
        yaxis: {
            tickFormatter: format_currency,
            position: "right",
        },
        grid: {
            borderWidth: {
                top: 0,
                bottom: 0,
                left: 2,
                right: 0,
            },
            borderColor: "#f4f4f4",
            markings: 0,
        },
    });
});
</script>

{% endblock %}
