{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}
{% load thumbnail %}

{% block title %}Por Parlamentar{% endblock %}

{% block content %}


    <div class="row">
        <div class="span12">
            <h1>Por Parlamentar</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Parlamentar</th>
                        <th>Partido</th>
                        <th>Valor ressarcido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>
                          <a href="{% if filter_spec %}/{{ filter_spec }}{% endif %}{% url 'montanha:show-legislator-detail' d.legislator.id %}">
                            {{ d.legislator.name }}
                          </a>
                        </td>
                        <td>
                            {% for m in d.mandates %}
                                {% if forloop.counter0 %}
                                    /
                                {% endif %}
                                {% if m.party.logo %}<img src="{{ m.party.logo|thumbnail_url:'mini' }}" title="{{ m.party.name }}" alt="{{ m.party.name }}">{% endif %}
                                {% if m.party.siglum %} {{ m.party.siglum }} {% else %} Partido não informado {% endif %} ({{ m.date_start.year }}{% if m.date_end.year %} - {{ m.date_end.year }}{% endif %})
                            {% endfor %}
                        </td>
                        <td>{{ d.expensed|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


{% block footer-extra %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-per-legislator').addClass('active').siblings().removeClass('active');
});
</script>

{% endblock %}
