{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load montanhatags %}
{% load thumbnail %}

{% block title %}Por Parlamentar{% endblock %}

{% block content %}


    <div class="row">
        <div class="span12">
            <h1>Por Parlamentar</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Parlamentar</th>
                        <th>Partido</th>
                        <th>Valor ressarcido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>
                          <a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:show-legislator-detail' d.mandate__legislator__id %}">
                            {{ d.mandate__legislator__name }}
                          </a>
                        </td>
                        <td>
                            {% for p in d.parties %}
                                {% if forloop.counter0 %}
                                    /
                                {% endif %}
                                {% if p.logo %}<img src="{{ p.logo|thumbnail_url:'mini' }}" title="{{ p.name }}" alt="{{ p.name }}">{% endif %}
                                {% if p.siglum %} {{ p.siglum }} {% else %} Partido não informado {% endif %} ({{ p.year }}{% if p.year_end %} - {{ p.year_end }} {% endif %})
                            {% endfor %}
                        </td>
                        <td>{{ d.expensed|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


{% block footer-extra %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-per-legislator').addClass('active').siblings().removeClass('active');
});
</script>

{% endblock %}
