{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}

{% block title %}Por Tipo de Gasto{% endblock %}

{% block content %}

    <div class="row">
        <div class="span9">
            <h1>Por Tipo de Gasto</h1>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#table" data-toggle="tab"><i class="icon-list-alt"></i> Tabela</a></li>
                <li><a href="#graph" data-toggle="tab"><i class="icon-picture"></i> Gráfico</a></li>
            </ul>
            <div class="tab-content" id="tab-per-nature">
                <div id="table" class="tab-pane active">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Tipo de Gasto</th>
                                <th>Valor ressarcido</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td style="background-color: {{ colors|itercycle:forloop.counter0 }}; opacity: 0.8;"></td>
                                <td>{{ d.nature__name }}</td>
                                <td>{{ d.expensed|format_currency }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="graph" class="tab-pane">
                    <div id="placeholder" class="span5"></div>
                </div>
            </div>
        </div>
        </div>


{% endblock %}

{% block footer-extra %}

<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.stack.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.time.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accounting.min.js' %}"></script>
<script type="text/javascript">
function format_currency(val, axis) {
    return accounting.formatMoney(val, "R$", axis.tickDecimals, ".", ",");
}

$(document).ready(function(){

    $('#menu-per-nature').addClass('active').siblings().removeClass('active');

	data = [
        {% for d in years_data %}{ "color": "{{ colors|itercycle:forloop.counter0 }}", "data": {{ d }} },{% endfor %}
    ]

    graph = $.plot('#placeholder', data, {
        series: {
            stack: true,
            lines: {
                show: true,
                fill: 0.8,
            }
        },
        legend: {
            show: false,
        },
        xaxis: {
            mode: 'time',
            timeformat: "%Y",
            tickSize: [1, "year"],
            ticks: (function(data) {
                var new_data = new Array(data.length);
                for (var i = 0, len = data.length; i < len; i += 1) {
                    new_data[i] = data[i][0];
                }
                return new_data;
            })(data[0].data),
        },
        yaxis: {
            tickFormatter: format_currency,
            position: "right",
        },
        grid: {
            borderWidth: {
                top: 0,
                bottom: 0,
                left: 2,
                right: 0,
            },
            borderColor: "#f4f4f4",
            markings: 0,
        },
    });
});
</script>

{% endblock %}
