{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}

{% block title %}Por Tipo de Gasto{% endblock %}

{% block content %}

    <div class="row">
        <div class="span9">
            <h1>Por Tipo de Gasto</h1>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#table" data-toggle="tab"><i class="icon-list-alt"></i> Tabela</a></li>
                <li><a href="#graph" data-toggle="tab"><i class="icon-picture"></i> Acumulado no tempo</a></li>
                <li><a href="#month-by-month-graph" data-toggle="tab"><i class="icon-picture"></i> Mês a mês</a></li>
            </ul>
            <div class="tab-content" style="overflow: visible;" id="tab-per-nature">
                <div id="table" class="tab-pane active">
                    <table id="datatable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tipo de Gasto</th>
                                <th>Valor ressarcido</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.nature__name }}</td>
                                <td>{{ d.expensed|format_currency }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="graph" class="tab-pane">
                    <div id="legend-placeholder" style="overflow: hidden;" class="span3"></div>
                    <div id="placeholder" class="span5"></div>
                </div>
                <div id="month-by-month-graph" class="tab-pane">
                    {% for nature in natures_mbm %}
                    <div class="row">
                        <div class="span9">
                            <h2>{{ nature.name }}</h2>
                        <div>
                        <div id="{{ forloop.counter0 }}-mbm-placeholder" class="mbm-graph" style="height: 300px;" class="span9"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>


{% endblock %}

{% block footer-extra %}

<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.categories.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.stack.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.time.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.resize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accounting.min.js' %}"></script>
<script type="text/javascript">
function format_currency(val, axis) {
    return accounting.formatMoney(val, "R$", axis.tickDecimals, ".", ",");
}

$(document).ready(function(){

    $('#menu-per-nature').addClass('active').siblings().removeClass('active');

	data = [
        {% for d in years_data %}{ "label": "{{ d.label }}", "color": "{{ colors|itercycle:forloop.counter0 }}", "data": {{ d.data }} },{% endfor %}
    ]

    function labelFormatter(label, series) {
        return "<span style='font-size:9pt; text-align: left; padding:0; white-space: nowrap; color:black;'>" + label + "</span>";
    }

    $('a[href="#graph"]').one('shown', function() {
        graph = $.plot('#placeholder', data, {
            series: {
                stack: true,
                lines: {
                    show: true,
                    fill: 0.8,
                }
            },
            legend: {
                show: true,
                container: $('#legend-placeholder'),
                labelFormatter: labelFormatter,
            },
            xaxis: {
                mode: 'time',
                timeformat: "%Y",
                tickSize: [1, "year"],
                ticks: (function(data) {
                    var new_data = new Array(data.length);
                    for (var i = 0, len = data.length; i < len; i += 1) {
                        new_data[i] = data[i][0];
                    }
                    return new_data;
                })(data[0].data),
            },
            yaxis: {
                tickFormatter: format_currency,
                position: "right",
            },
            grid: {
                borderWidth: {
                    top: 0,
                    bottom: 0,
                    left: 2,
                    right: 0,
                },
                borderColor: "#f4f4f4",
                markings: 0,
            },
        });
    });

    // Month by month
    function graph_appeared(event, appeared) {
        $(this).off('appear');

        var id = this.id;
        var my_data = eval('mbm_data_' + id.split('-')[0]);

        graph = $.plot($(this), my_data, {
            series: {
                lines: {
                    show: true,
                }
            },
            legend: {
                show: true,
            },
            xaxis: {
                mode: "categories",
            },
            yaxis: {
                tickFormatter: format_currency,
                position: "right",
            },
            grid: {
                borderWidth: {
                    top: 0,
                    bottom: 0,
                    left: 2,
                    right: 0,
                },
                borderColor: "#f4f4f4",
                markings: 0,
            },
        });
    }

    {% for nature in natures_mbm %}
    mbm_data_{{ forloop.counter0 }} = [
        {% for mbm_year in nature.data %}
            { "label": "{{ mbm_year.label }}", "data": [{% for d in mbm_year.data %}[ "{{ d.month }}", {{ d.data }} ],{% endfor %}] },
        {% endfor %}
    ]
    {% endfor %}

    $('div.mbm-graph').appear();
    $('div.mbm-graph').one('appear', graph_appeared);

    $('a[href="#month-by-month-graph"]').one('shown', function() {
        $.force_appear();
    });
});
</script>

{% endblock %}
