{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}
{% load bootstrap_toolkit %}

{% block title %}Per supplier{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Por Fornecedor</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Fornecedor</th>
                        <th>CNPJ</th>
                        <th>Valor recebido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d.supplier__name }}</td>
                        <td>{{ d.supplier__identifier }}</td>
                        <td>{{ d.expensed|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row span12">
      {% bootstrap_pagination data always_show_first=True always_show_last=True show_prev_and_next=True align="center" %}
    </div>
</div>

{% endblock %}


{% block footer-extra %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-per-supplier').addClass('active').siblings().removeClass('active');
});
</script>

{% endblock %}
