{% extends "base.html" %}
{% load staticfiles %}
{% load montanhatags %}

{% block title %}Per party{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Per party</h1>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Partido</th>
                        <th>Parlamentares</th>
                        <th>Valor ressarcido</th>
                        <th>Média</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{ d.siglum }}</td>
                        <td>{{ d.n_legislators }}</td>
                        <td>{{ d.expensed_sum|format_currency }}</td>
                        <td>{{ d.expensed_average|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span3">
            <div id="placeholder" class="demo-placeholder"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer-extra %}

<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-flot/jquery.flot.pie.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){

	data = [
        {% for d in data %}{label: "{{ d.siglum }}", data: "{{ d.expensed_sum }}"},{% endfor %}
    ]

    function labelFormatter(label, series) {
        return "<div style='font-size:8pt; text-align:center; padding:2px; color:black;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
    }

    $.plot('#placeholder', data, {
        series: {
            pie: {
                show: true,
                radius: 1,
                tilt: 0.5,
                label: {
                    show: true,
                    radius: 1,
                    formatter: labelFormatter,
                    background: {
                        opacity: 0.8
                    }
                },
                combine: {
                    color: '#999',
                    threshold: 0.1
                }
            }
        },
        legend: {
            show: false
        }
    });

});
</script>

{% endblock %}
