{% extends "base.html" %}
{% load montanhatags %}
{% load thumbnail %}

{% block title %}Por Partido{% endblock %}

{% block content %}

<script>
function toggle_details()
{
    var details = $('.details');
    var toggle_link = $('#toggle-details-link')[0];
    if (details.css('display') == 'none') {
        details.show();
        toggle_link.innerHTML = '(Esconder)'
        return;
    }

    details.hide();
    toggle_link.innerHTML = '(Ver detalhes)'
}
</script>

    <div class="row">
        <div class="span12">{% share "Por Partido" %}</div>
    </div>
    <div class="row">
        <div class="span12">
                <div class="span5">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Partido</th>
                                <th>Média <a id="toggle-details-link" href="javascript:toggle_details()">(Ver detalhes)</a></th>
                                <th class="details" style="display: none;">Parlamentares</th>
                                <th class="details" style="display: none;">Valor ressarcido</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{% if d.mandate__party__logo %}<img src="{{ d.mandate__party__logo|thumbnail_url:'mini' }}" title="{{ d.mandate__party__name }}" alt="{{ d.mandate__party__name }}">{% endif %} {{ d.mandate__party__siglum }}</td>
                                <td>{{ d.expensed_average|format_currency }}</td>
                                <td class="details" style="display: none;">{{ d.n_legislators }}</td>
                                <td class="details" style="display: none;">{{ d.expensed|format_currency }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="placeholder" class="span6"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer-extra %}

{% include 'per_party_graph.html' %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-per-party').addClass('active').siblings().removeClass('active');

    plot_per_party_graph();

});
</script>

{% endblock %}
