{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load montanhatags %}
{% load thumbnail %}

{% block title %}Per legislator{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Per legislator</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Legislador</th>
                        <th>Partido</th>
                        <th>Valor ressarcido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td>
                          <a href="{% url 'montanha:show-legislator-detail' d.mandate__legislator__id %}">
                            {{ d.mandate__legislator__name }}
                          </a>
                        </td>
                        <td>{% if d.mandate__party__logo %}<img src="{{ d.mandate__party__logo|thumbnail_url:'political-party-mini' }}" title="{{ d.mandate__party__name }}" alt="{{ d.mandate__party__name }}">{% endif %} {{ d.mandate__party__siglum }}</td>
                        <td>{{ d.expensed|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block footer-extra %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-per-legislator').addClass('active').siblings().removeClass('active');
});
</script>

{% endblock %}
