{% load url from future %}

<li id="menu-per-nature"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-nature' %}{% if extra_uri %}{{ extra_uri }}{% endif %}"><i class="icon-chevron-right"></i> Por tipo de gasto</a></li>
<li id="menu-per-legislator"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-legislator' %}{% if extra_uri %}{{ extra_uri }}{% endif %}"><i class="icon-chevron-right"></i> Por parlamentar</a></li>
<li id="menu-per-party"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-party' %}{% if extra_uri %}{{ extra_uri }}{% endif %}"><i class="icon-chevron-right"></i> Por partido</a></li>
<li id="menu-per-supplier"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:per-supplier' %}{% if extra_uri %}{{ extra_uri }}{% endif %}"><i class="icon-chevron-right"></i> Por fornecedor</a></li>
<li id="menu-all"><a href="{% if institution %}/{{ institution.siglum }}{% endif %}{% url 'montanha:show-all' %}{% if extra_uri %}{{ extra_uri }}{% endif %}"><i class="icon-chevron-right"></i> Todos os gastos</a></li>
