{% extends "base.html" %}


{% block title %}O que é verba indenizatória?{% endblock %}


{% block content %}

<h1>O que é verba indenizatória?</h1>

<p>As perguntas abaixo foram extraídas do site da <a href="http://www.almg.gov.br" target="_blank">ALMG</a>.</p>

<h3>O que é verba indenizatória para o custeio da atividade parlamentar?</h3>

<p>O deputado tem direito a uma verba para indenização de despesas realizadas
em razão de atividade inerente ao exercício do mandato parlamentar,
liberada mediante requerimento e comprovação dos gastos. O limite mensal
de gastos e as regras completas sobre a verba indenizatória estão na
<a href="http://www.almg.gov.br/opencms/opencms/consulte/legislacao/completa/completa.html?tipo=DLB&num=2446&comp=&ano=2009&aba=js_textoAtualizado#texto" target="_blank">Deliberação da Mesa 2.446, de 2009</a>.</p>

<h3>Quais gastos podem ser indenizados?</h3>

<p>Podem ser indenizados gastos com locação de imóvel, combustível,
manutenção de veículos, locação e fretamento de veículos, serviços de
consultoria, divulgação da atividade parlamentar, material de expediente e
informática, passagens, hospedagem, alimentação, assinatura de periódicos e
clippings e promoção e participação em eventos. Os critérios e condições
para o pagamento de cada tipo de despesa estão detalhados na <a href="http://www.almg.gov.br/opencms/opencms/consulte/legislacao/completa/completa.html?tipo=DLB&num=2446&comp=&ano=2009&aba=js_textoAtualizado#texto" target="_blank">Deliberação da
Mesa 2.446, de 2009.</a></p>

<h3>Como a ALMG fiscaliza a aplicação da verba indenizatória?</h3>

<p>A Assembleia de Minas fiscaliza - sob os aspectos formal e fiscal - todos os
documentos apresentados pelos parlamentares na comprovação das despesas a
serem ressarcidas com a verba indenizatória. É rejeitado, sem reembolso,
qualquer documento que não esteja de acordo com a <a href="http://www.almg.gov.br/opencms/opencms/consulte/legislacao/completa/completa.html?tipo=DLB&num=2446&comp=&ano=2009&aba=js_textoAtualizado#texto" target="_blank">Deliberação da Mesa 2446/2009</a>.</p>

<p>Deve ser apresentada nota fiscal ou documento equivalente de quitação, no
original, sem rasuras, emitido em nome do deputado, com data e discriminação
dos serviços prestados ou do material fornecido. Somente são aceitos recibos
quando o contratado, por força de lei, estiver dispensado da emissão de
documento fiscal. Conforme o caso, a Assembleia consulta sistemas e órgãos de
verificação de regularidade jurídica e fiscal nos níveis federal, estadual e
municipal.</p>

<p>A utilização da verba indenizatória é de responsabilidade do parlamentar.
Ele deve atestar que as despesas foram realizadas em razão de atividade
inerente ao exercício do mandato; que os serviços foram prestados ou o bem foi
recebido; que os preços estão de acordo com os praticados no mercado; que
assume inteira responsabilidade pela veracidade das informações prestadas e
pela autenticidade dos documentos apresentados.</p>

{% endblock %}


{% block footer-extra %}

<script type="text/javascript">
$(document).ready(function(){

    $('#menu-what-is-expenses').addClass('active').siblings().removeClass('active');
});
</script>

{% endblock %}
