div#content {
    margin-top: 60px;
}

#footnotes {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #c7ffba;
    border: 2px solid black;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.7;
}

#graphtitle {
    text-align: center;
}

#graphparent {
    margin-left: 20px;
}

body {
    font-family: sans;
    width: 95%;
}

tr.final {
    background-color: #c7ffba;
    font-weight: bold;
    font-size: 12pt;
}

tr.odd {
    background-color: #c7ffba;
}

td {
    font-size: 10pt;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

td.empty {
    background-color: white;
}

td.right {
    text-align: right;
}

th {
    background-color: #c7ffba;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 2px solid black;
}

div.dataTables_length {
    float: right;
}

table.fullwidth {
    width: 100%;
}

.dataTables_wrapper {
    margin: 0 auto;
    padding-bottom: 60px;
}

.paginate_disabled_previous, .paginate_enabled_previous {
	height: 19px;
	width: 19px;
	margin-right: 3px;
	float: left;
}

.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: right;
}

.paginate_disabled_previous {
	background-image: url('datatables/images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('datatables/images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('datatables/images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('datatables/images/forward_enabled.jpg');
}
