#graphparent {
    margin-left: 20px;
}

body {
    font-family: sans;
    width: 95%;
}

tr.final {
    background-color: #c7ffba;
    font-weight: bold;
    font-size: 12pt;
}

tr.odd {
    background-color: #c7ffba;
}

td {
    font-size: 10pt;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

td.empty {
    background-color: white;
}

td.right {
    text-align: right;
}

th {
    background-color: #c7ffba;
    font-size: 16pt;
    font-weight: bold;
    border-bottom: 2px solid black;
}
